
@import "../../../Styles/main.scss";

.container{
    position: relative;
    @include flex-col;
    height: calc(100vh - 90px);
}

.content{
    @include flex-col;
    @include scroll-y;
    flex-grow: 1;
}

.input{
    display: flex;
    flex-wrap: nowrap;

}

.btn{
    position: relative;
    bottom: 0;
    height: 35px;
    width: 35px;
    padding: 9px;
    margin: auto;
    
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    @include button-back;
    background-color: var(--info-color);

    & > svg {
        transform: rotate(40deg);
        transform-origin: 6.1px 5.06px;
    }
}