
@mixin flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-back {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

@mixin scroll-y {
    overflow-y: scroll;
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* IE/Edge */
}