@import "../../../Styles/variables";

.container{
    
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, var(--bg-one-1) 10%, var(--bg-one-2) 90%);
    padding: 10px;
}

.left{
    background: linear-gradient(225deg, var(--bg-three-1) 20%, var(--bg-three-2));
    position: fixed;
    left: 0;
    top: 50%;
    height: 50%;
    width: 75%;
    clip-path: polygon(0% 0%, 100% 100%, 93% 100%, 0% 5%, 0% 8%, 90% 100%, 0% 100%);
}

.right{
    background: linear-gradient(200deg, var(--bg-two-1) 30%, var(--bg-two-2));
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(100% 0%, 100% 100%, 18% 100%, 90% 0%);

}