@import "../../../Styles/main.scss";

.container{
    height: 100%;
    width: 100%;
    @include flex-col;
    gap: 0;
}

.markbooks{
    position: relative;
    top: 10px;
    width: 100%;
    height: auto;
    @include scroll-x;

    & > div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
        @include scroll-x;
    }
}

.content{
    // display: flex;
    // align-items: start;
    max-height: 70vh;
    height: 100%;
    width: 100%;
    min-height: 0;
    align-self: start;
    @include scroll-y;
    // overscroll-behavior-y: none;
    white-space: pre-wrap;
}