.list .element:nth-child(even){
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
    margin-top: -12px;
    padding-top: 12px;
}

.element{
    background-color: var(--primary-color);
    display: flex;
    min-height: 70px;
    width: 100%;
    margin: 2px 0;
    padding-left: 40px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.list{
    display: flex;
    flex-grow: 1;
    /* height: 100%; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-height: 90%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* IE/Edge */
}